{{#if sendUserWelcome}}
  <div
    style='font-family: Arial, sans-serif; color: #333; line-height: 1.6; padding: 20px; background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 10px; max-width: 600px; margin: auto;'
  >
    <h2 style='color: #FF6600; text-align: center;'>Welcome,
      {{name}}!</h2>

    <p>We're thrilled to have you on board. Thank you for signing up!</p>

    <p
      style='margin-top: 20px; font-size: 1em; color: #777; text-align: center;'
    >
      <em>Best regards,</em><br />
      <strong>Team</strong>
    </p>
  </div>
{{/if}}

{{!-- {{#if sendEmailVerificationMail}}

  <p>Hi</p>
  <br /><br />
  <p>
    Verify your mail by clicking on the button below
    <br /><br />
    <button>{{ token }} </button>
    <br />

    Team

    <br /><br /><br />

  </p>
{{/if}} --}}


{{#if resetUrl}}
  <div
    style='font-family: Arial, sans-serif; color: #333; line-height: 1.6; padding: 20px; background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 10px; max-width: 600px; margin: auto;'
  >
    <h2 style='color: #FF6600; text-align: center;'>Password Reset Request</h2>

    <p>Hi there,</p>

    <p>
      You requested a password reset. Please click the button below to reset
      your password:
    </p>

    <p style='text-align: center; margin: 20px 0;'>
      <a
        href='http://{{resetUrl}}'
        style='background-color: #FF6600; color: white; text-decoration: none; padding: 10px 20px; border-radius: 5px; font-size: 16px; font-weight: bold;'
      >
        Reset Your Password
      </a>
    </p>

    <p>
      This link will expire in
      <strong>one hour</strong>. If you didn’t request a password reset, you can
      safely ignore this email.
    </p>

    <p
      style='margin-top: 20px; font-size: 0.9em; color: #777; text-align: center;'
    >
      Thank you,<br />
      <strong>The Lunozart Team</strong>
    </p>
  </div>
{{/if}}